<div class="container">
    <div class="login">
        <div class="brand-field">
            <i class="fa-solid fa-rocket"></i>
        </div>
        <div class="title-field">
            <h1>Login here!!</h1>
            <p>Provide your information to login</p>
        </div>
        <form [formGroup]="fb"(ngSubmit)="onLogin()">
            <input type="email" placeholder="Username" formControlName="username">
            <input type="password" placeholder="Password" formControlName="pwd">
            <input type="submit" value="Login">
        </form>
    </div>
</div>
